---
import Base from "../layout/Base.astro";
import Columns from "../components/Columns.astro";
import Card from "../components/Card.astro"

import "../styles/global.css"
---

<Base>
<section>
     <Columns cols="4">
    <Card  title="Creative Ideas" variant="original" />
    <Card  title="Best Features"variant="original"/>
    <Card title="Experience"variant="original"/>
    <Card title="Easy Solutions"variant="original"/>
    </Columns>
</section>



</Base>

<style>
      section {
    display: grid;
    grid:
      auto /
      [full-start] 1fr
      [content] minmax(0, var(--content-width))
      1fr [full-end];
    gap: 6rem 4rem;

    > * {
      grid-column: content;
    }

    .full {
      grid-column: full;
    }
      }
</style>