<link rel="stylesheet" href="../styles/global.css">


<button>Get in touch</button>


<style>

button{
   
width: 10.4375rem;
padding: 0.9375rem 2.125rem;
gap: 0.625rem;
border-radius: 2.625rem;
background: #181818;
color: #FFF;
border: none;
outline: none;

  font-family: "Lato", sans-serif;
font-size: 1.125rem;
font-style: normal;
font-weight: 600;
line-height: 1.8rem; /* 1.8rem */
white-space: nowrap;
}

</style>